.leagues
    each league in Object.keys(groups.leagues)
        .league
            h2 #{league}
            each table in groups.leagues[league]
                table(class="table", id=league+"_"+table.id)
                    caption
                        | #{table.name}
                    thead
                        tr
                            td Team
                            td Played
                            td Won
                            td Lost
                            td(data-sort-default) Points

                    tbody
                        each team in table.teams
                            tr
                                td.team #{team.name}
                                td.played #{team.played}
                                td.won #{team.won}
                                td.lost #{team.lost}
                                td.points #{team.points}
                script
                    | new Tablesort(document.getElementById("#{league+"_"+table.id}"), {
                    |    descending: true
                    | })
