doctype html
html(lang="en")
    block vars
    head
        meta(charset="utf-8")
        meta(property="og:title", content=_meta.title + " " + title)
        meta(property="og:url" content="https://www.overwatcharenaclashcommunity.com")
        meta(property="og:description" content="Unofficial Overwatch Arena Clash information & community links")
        
        title #{_meta.title} #{title}
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous")

    body
        if _meta.has_begun
            h1 #{_meta.title} #{title}
            if _meta.archive
                h2.accent You are viewing a previous season. Click #[a.accent(href="/") here] to see the current season
            h4.collapse 
                a(href="index.html") Tables
                | &nbsp; | &nbsp;
                a(href="teams.html") Teams
            unless _meta.archive
                p
                    | Tables are updated every Sunday, after the weekly recap
                    | show has aired (and after I've seen it)

            hr
         
            block content
        else
            h1 #{_meta.title} has not begun yet!
            h4.collapse
                a(href="/archives/index.html") Previous Seasons

            p Visit #[a(href="https://www.belong.gg/welcome-to-overwatch-arena-clash/") Belong.gg] to find out how to get involved.

        footer
            p
                | Page created and owned by Humber Hunters' Badger (Andy).
                | DM me on Discord if this needs taking down, because I can 
                | imagine Blizzard are probably pretty picky about stuff.
