extends _layout.pug

block vars
    - var title = "Team Rosters"

block content 
    
    .teams
        each team in teams.teams
            if !team["championship"].length && !team["challengers"].length && !team["underground"].length
                - continue

            .team
                section.team-name
                    span.name #{team.name}
                    span.location (#{team.location})

                section.leagues
                    if team["championship"].length
                        section.league
                            span.league-name Champsionship
                            table
                                tbody
                                    each player in team["championship"]
                                        tr
                                            td #{player.name}
                                            td
                                                each r in player.roles
                                                    span(class="role "+r)

                    if team["challengers"].length
                        section.league
                            span.league-name Challengers
                            table
                                tbody
                                    each player in team["challengers"]
                                        tr
                                            td #{player.name}
                                            td
                                                each r in player.roles
                                                    span(class="role "+r)

                    if team["underground"].length
                        section.league
                            span.league-name Underground
                            table
                                tbody
                                    each player in team["underground"]
                                        tr
                                            td #{player.name}
                                            td
                                                each r in player.roles
                                                    span(class="role "+r)
